<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:sharedUserId="android.uid.system"
    package="com.twd.setting">
    <!--android:sharedUserId="android.uid.system"-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.LOCAL_MAC_ADDRESS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_PRIVILEGED"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.RECOVERY"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.REBOOT"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.ACCESS_CACHE_FILESYSTEM"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.DELETE_CACHE_FILES"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.MASTER_CLEAR"
        tools:ignore="ProtectedPermissions" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <!-- android:theme="@style/Theme.TVSettings2.White"   IceCreamBlue  StarrySkyBlue-->
    <!-- android:process="system"-->
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"

        android:theme="@style/Theme.TVSettings2.White"
        tools:targetApi="31">
        <!-- <activity android:exported="false" android:name="com.twd.setting.module.debugmenu.DebugMenuActivity"/>-->
        <activity
            android:name="com.twd.setting.module.projector.ProjectorActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.settings.SETTINGS" />
                                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.twd.setting.module.projector.ProjectionActivity"
            android:exported="true" />
        <activity
            android:name="com.twd.setting.module.common.CommonActivity"
            android:exported="true" />
        <activity
            android:name="com.twd.setting.module.network.NetworkActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.twd.setting.module.network.wifi.WifiConnectionActivity"
            android:exported="true"
             />
        <activity
            android:name="com.twd.setting.module.network.wifi.AddWifiNetworkActivity"
            android:exported="true"
            />
         <activity android:exported="false" android:name="com.twd.setting.module.systemequipment.SysEquipmentActivity"/>
         <activity android:exported="false" android:name="com.twd.setting.module.systemequipment.DeviceInfosActivity"/>
         <activity android:exported="false" android:name="com.twd.setting.module.systemequipment.StorageDetailActivity"/>
        <activity
            android:name="com.twd.setting.module.bluetooth.BluetoothActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize"
            android:exported="true" />
        <!--<service android:exported="true" android:name="com.twd.setting.module.localserver.LocalServer" android:process="com.twd.setting.localservice"/> -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
<!--                <action android:name="android.intent.action.MAIN" />-->
                <action android:name="android.settings.SETTINGS" />
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
            </intent-filter>
        </activity>

        <activity android:name=".module.universal.UniversalActivity"/>
        <activity android:name=".module.universal.UniversalInputActivity"/>
        <activity android:name=".module.universal.UniversalLanguageActivity"/>

        <activity android:name=".module.device.DeviceActivity"/>
        <activity android:name=".module.device.DeviceInfoActivity"/>
        <activity android:name=".module.device.DeviceStorageActivity"/>
        <activity android:name=".module.network.NetworkListActivity"/>
        <activity android:name=".module.network.wifi.NoPasswordNetActivity" android:exported="false"/>
    </application>

</manifest>